@import "../utils/_colors.scss";
@import "../utils/_mixins.scss";

html {
    @include scrollbar();
}

body {
    color: clr("foreground", "lighter");
    .sc-type-light {
        color: clr("foreground", "lighter");
    }
    &.sc-classic {
        background: clr("background");
    }
}

.soundBadge {
    &__additional {
        background: none !important;
    }
}

.sound {
    &__soundActions {
        background-color: clr("background");
    }
}

.l-search {
    .l-main {
        padding-top: 10px !important;
    }
    .l-fixed-left {
        top: 64px !important;
    }
}

.historicalPlays {
    padding-bottom: 30px !important;
}

.listenEngagement {
    border: none !important;
    box-shadow: none !important;
    background-color: clr("background", "lighter");
    padding: 0px 8px 4px !important;
}

.listenEngagement {
    border: none !important;
    box-shadow: none !important;
    background-color: clr("background", "lighter");
    padding: 0px 8px 4px !important;
}

.g-dark input[type="search"],
.artistShortcutTile__username {
    color: clr("foreground", "lighter");
}

.backgroundGradient__buffer {
    opacity: 0.3 !important;
}

.sc-ministats-sounds {
    &::before {
        @include invertIcon();
    }
}

.l-top {
    background: clr("background");
}
