@import "../utils/_colors.scss";

.systemPlaylistHero {
    margin-top: 16px;
}

.selectionPlaylistBanner {
    background: none !important;
}

.l-about-rows {
    border-right: 1px solid clr("foreground");
}

.trackItem {
    &.hover,
    &.active {
        background-color: clr("background", "lighter");
    }
    &__additional {
        background: none !important;
    }
}

.compactTrackListItem {
    &__trackTitle {
        color: clr("foreground", "white");
    }
    &__user,
    &__number {
        color: clr("foreground", "lighter");
    }
    &__additional,
    &.clickToPlay.active {
        background: clr("transparent");
    }
    &.clickToPlay:hover {
        background-color: clr("background", "lighter");
    }
}
.compactTrackList {
    border-color: clr("background");
    &__moreLink {
        border-color: clr("background");
        &:hover {
            background-color: clr("background");
        }
    }
}
