@import "../utils/_mixins.scss";

.fullHero {
    background: unset !important;
}

.truncatedAudioInfo__wrapper::after {
    height: 10px !important;
    background: linear-gradient(
        hsla(0, 0%, 100%, 0),
        clrNotImportant("background", "lighter") 200%,
        clrNotImportant("background", "lighter")
    ) !important;
}

.commentItem {
    &__body,
    &__commentInfo,
    &__createdAt,
    &__timestamp {
        color: clr("foreground", "lighter");
    }
    &__timestampLink {
        background-color: clr("background");
    }
}
