@import "../utils/_colors.scss";

$border: 1px solid clr("transparent");

.sc-border {
    &-light-top {
        border-top: $border;
    }
    &-light-right {
        border-right: $border;
    }
    &-light-left {
        border-left: $border;
    }
    &-light-bottom {
        border-bottom: $border;
    }
    &-box {
        border: $border;
    }
    &-light {
        border: none !important;
    }
}
