@import "../utils/_colors.scss";
@import "../utils/_mixins.scss";

.sc-button {
    color: clr("foreground", "white");
    background-color: clr("foreground");
    border: 1px solid clr("foreground");
    &::before,
    &::after {
        @include invertIcon();
    }
    &:hover {
        border-color: clr("primary");
    }
    &-selected {
        filter: none !important;
    }
}

.sc-button-lightfg {
    &::before,
    &::after {
        filter: none !important;
    }
}

.tileGallery__sliderButton {
    border-radius: 100vw !important;
    &::after {
        border-top: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
    }
}

.playableTile__actionButton {
    background: clr("transparent");
    border-color: clr("transparent");
    &:hover {
        border-color: clr("transparent");
    }
}

.g-nav-link {
    @include invertIcon();
}

.playButton {
    &::before,
    &::after {
        filter: none !important;
    }
}

button {
    &:hover {
        filter: brightness(0.9) !important;
    }
}
