@import "../utils/_colors.scss";

.dialog {
    border: 1px solid clr("foreground");
    background: clr("background", "darker");
    &__arrow {
        background: clr("background", "darker");
        border-top: 1px solid clr("foreground");
        border-left: 1px solid clr("foreground");
    }
}
