@import "../utils/_colors.scss";
@import "../utils/_mixins.scss";

header {
    background: clr("background", "darker");

    .header__logo {
        background: clr("background", "darker");
    }

    .headerSearch__input {
        background: clr("foreground");
        border-radius: 14px !important;
    }
}

.headerMenu {
    background-color: clr("background", "darker");
    border: 1px solid clr("foreground");
    &__link {
        &:hover,
        &:active {
            background-color: clr("background", "lighter");
        }
        &::after {
            @include invertIcon();
        }
    }
}

#searchMenuList {
    color: clr("foreground", "lighter");
    .searchMenu__searchFor {
        background-color: clr("background", "darker");
        border-color: clr("background", "darker");
    }
    .searchAutocomplete {
        background-color: clr("background", "darker");
    }
    .autocompleteItem {
        &__icon,
        &__queryIcon {
            @include invertIcon();
        }
    }
}
