@import "../utils/_colors.scss";

.sc-tag {
    background: clr("foreground");
    border-color: clr("foreground");
    &:hover {
        background: clr("foreground", "lighter");
        border-color: clr("foreground", "lighter");
        color: #fff !important;
    }
}
