// removing and adapting UI elements
// ------------------------------------

.l-footer,
.whoToFollowModule,
.header__goUpsell_side_by_side_experience,
.header__proUpsell_side_by_side_experience,
.sidebarModule.mobileApps,
.uploadButton,
.header__navMenu,
.header__userNavMessagesButton,
.header__userNavActivitiesButton,
.commentForm,
.searchTitle,
.paging-eof,
.listenArtistInfo__copyright {
    display: none !important;
}

.header__middle {
    .headerSearch__submit {
        right: 210px !important;
    }
    .headerSearch {
        padding: 9px 200px 9px !important;
    }
}
